<h1> <%= @merchant.name %>'s Discounts </h1>

<ol>
  <% @merchant.bulk_discounts.each do |dis| %>
    <li id="discount-<%= dis.id %>"> Discount: buy <%= dis.quantity_threshold %> get <%= dis.percentage %>% off</li>
  <% end %>
</ol>
