<h1>Discount #<%= @discount.id %></h1>
<p>For merchant <%= @discount.merchant.id %></p>

<h3>
  With purchase of <%= @discount.quantity_threshold %>, customer's recieve <%= @discount.percentage %>% off
</h3>
